<div class="container my-5 w-50">
  <h1>Create a new movie list</h1>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create list", class: "btn btn-primary" %> 
  <% end %>
  <br>
  <p><%= link_to "Back to lists", lists_path %></p>
</div>