<div>
  <div class="banner banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key, crop: :fill) : image_path("default.jpg", width: 400, height: 300, crop: :fill) %>)">
    <div class="container">
      <h1><%= "Best #{@list.name}" %></h1>
      <div class="mt-4"><%= link_to "Add a movie to this list", new_list_bookmark_path(@list), class: "btn btn-banner" %></div>
    </div>
  </div>
  <div class="container mt-5 d-flex justify-content-around">
    <% @list.bookmarks.each do |bookmark| %>
      <% url = "https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}" %>
      <div class="card h-50 rounded-0 shadow-sm position-relative" style="width: 18rem;">
        <%= image_tag url, alt: "poster" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <p>---------------------</p>
          <p><em><%= "'#{bookmark.comment}'" %></em></p>
          <p><strong><%= "Rating: #{bookmark.movie.rating}" %></strong></p>
          <div class="card-body-icon">
            <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure you want to remove this movie?' } do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
