<h1><%= "Top #{@list.name}" %></h1>
<br>
<ul>
  <% @list.movies.each do |movie| %>
    <h2><%= "Title: #{movie.title}" %></h2>
    <p><%= "Overview: #{movie.overview}" %></p>
    <p><%= movie.poster_url %></p>
    <p><%= "Rating: #{movie.rating}" %></p>
    <p><%= link_to "Delete", bookmarks_path(@bookmark), method: :delete, data: { confirm: 'Are you sure you want to remove this movie?' } %></p>
  <% end %>
</ul>




<%= link_to "Back to lists", lists_path %>
<br>
<%= link_to "Add a movie to this list", new_list_bookmark_path(@list) %>