<h1><%= "Top #{@list.name}" %></h1>
<br>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <h2><%= "Title: #{bookmark.movie.title}" %></h2>
    <p><%= "Overview: #{bookmark.movie.overview}" %></p>
    <%= image_tag bookmark.movie.poster_url, alt: "poster" %>
    <p><%= "Rating: #{bookmark.movie.rating}" %></p>
    <p><%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure you want to remove this movie?' } %></p>
  <% end %>
</ul>




<%= link_to "Back to lists", lists_path %>  
<br>
<%= link_to "Add a movie to this list", new_list_bookmark_path(@list) %>