<div class="container mt-5 w-50">
  <h1><%= "Add a movie to #{@list.name}" %></h1>
  <br>

  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add movie", class: "btn btn-primary" %>
  <% end %>

  <%= link_to list_path(@list) do %>
  <i class="fas fa-long-arrow-alt-left"></i>
  <% end %> 

</div>

