<h2><%= "Add a movie to #{@list.name}" %></h2>
<br>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back to #{@list.name}", list_path(@list) %> 
